.ListBox {
  position: relative;

  .optionsBottomLeft {
    top: 100%;
    right: 0;
  }

  .optionsBottomRight {
    top: 100%;
    left: 0;
  }

  .optionsTopRight {
    bottom: 100%;
    left: 0;
  }

  .optionsTopLeft {
    right: 0;
    bottom: 100%;
  }

  ul {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

.trigger {
  border: none;
  background: none;
  outline: 0;
  padding: 0;
  margin-top: 0;

  & > button {
    border-radius: 8px;
  }
}

.options {
  background: var(--listbox-bg);
  position: absolute;
  z-index: 100;
  border-radius: 12px;
  border: 1px solid var(--inverted-primary-color);
  box-shadow: 4px 4px 4px var(--listbox-bg);
  transition: 0.4s;
  min-width: 100%;

  &:focus {
    border: none;
    outline: 1px solid var(--inverted-primary-color);
  }
}

.item {
  padding: 5px 10px;
  cursor: pointer;
}

.active {
  background: var(--inverted-primary-color);
}

.disabled {
  opacity: 0.7;
}

.label {
  margin-right: 5px;
}

.disabled {
  opacity: 0.7;
}
